---
---

@import "{{ site.theme }}";

.logos {
  padding-top: 2em;
  text-align: center;

  img {
    max-height: 7em;
    padding-right: 4em;
    padding-bottom: 2em;

    &:last-child {
      padding-right: 0;
    }

    &.uni {
      max-width: 30vw;
    }

    &.axa {
      max-width: 50vw;
    }

    &.storm {
      max-width: 10vw;
    }
  }
}

@media screen and (max-width: 42em) {
  .logos img {
    padding-right: 2em;
    padding-bottom: 1em;
  }
}
